<%- include('./layouts/header') %>

<main>
      
    <!-- carousel -->
    <%- include('./layouts/carousel') %>

        <!-- categories -->
        
        <h2 class="d-flex align-items-center justify-content-center mt-5">Categories</h2>
<div class="row m-5 p-5">
    <div class="col-lg-4">
        <img src="https://assets.adidas.com/images/w_450,f_auto,q_auto/04953589eefe4d4fb3c7ae9901266891_9366/HT2099_000_plp_model.jpg" class="rounded-circle img-fluid" alt="...">
        <div class="row"> 
            <h2 class="fw-normal col-6 ms-5">Men</h2>
            <p><a class="btn btn-primary ms-5 col-6" href="/Men">shop now</a></p>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img src="https://assets.adidas.com/images/w_450,f_auto,q_auto/9c17db035f2d4ec09976ae8800ca615e_9366/HM2900_21_model.jpg" class="rounded-circle img-fluid" alt="...">
        <div class="row"> 
            <h2 class="fw-normal col-6 ms-5">Women</h2>
            <p><a class="btn btn-primary ms-5 col-6" href="/Women">shop now</a></p>
        </div>
    </div>

    <div class="col-lg-4">
        <img src="https://assets.adidas.com/images/w_450,f_auto,q_auto/5fe93efae8ee4fa7a285ae370134c365_9366/GV8743_00_plp_standard.jpg" class="rounded-circle img-fluid" alt="...">
        <div class="row"> 
            <h2 class="fw-normal col-6 ms-5">Latest</h2>
            <p><a class="btn btn-primary ms-5 col-6" href="/Latest">shop now</a></p>
        </div>
    </div>

  </div><!-- /.row -->


        <!-- get all products -->

      <h2 class="d-flex align-items-center justify-content-center m-5"> All Products</h2>

      
        <div class="d-flex">
              <div class="row m-auto ms-5" >
                <% products.forEach(function(p){ %>
                  <div class="shadow-sm col-3 m-4">
                          <img src="<%=p.img%>" class="rounded img-fluid" alt="...">
                      
                          <div class="row d-flex justify-content-center flex-column align-items-center"> 
                              <h5 class="fw-normal col-6"> <%= p.title %></h2>
                              <p class="col-6"> NGN <%= parseFloat(p.price).toFixed(2) %></p>
                              <p class="col-12 d-flex"><a class="btn btn-primary col-12" href="/cart/add/<%= p._id %>">add to cart</a></p>
                           </div>
              </div><!-- /.row -->
              <% }); %>
            </div>
     
     
  
    </div><!-- /.container -->
  
  
   
  </main>
  
<%- include('./layouts/footer') %>